{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vanilla-zoom.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/clima.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'img/cactus.ico' %}">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

</head>

<body style="background-image: url( '/static/Img/cactusfondo.jpg');">
    {% include 'navbar.html' %}
    <main class="page login-page">
        <section class="clean-block clean-form dark" style="background-color: transparent;">
            <form action="/editarProducto/" id="formulario" method="post"> {% csrf_token %}
                <div class="block-heading">
                    <h3 style="color: rgb(25,135,84);font-family: ABeeZee, sans-serif;">Editar datos del producto</h3>
                </div>
                <div class="mb-3" style="border: 0px; margin-top: 50px;">
                    <label class="form-label" for="Nombre">Nombre del producto:</label>
                    <input class="form-control" type="text" id="Nombre" value="{{producto.nombre}}" placeholder="Nombre del producto" name="nombre">
                    <p></p>
                </div>
                <div class="mb-3" style="border: 0px; margin-top: 50px;">
                    <label class="form-label" for="Nombre">Codigo:</label>
                    <input class="form-control" type="text" id="Nombre" value="{{producto.id}}" placeholder="Codigo" name="id" readonly>
                    <p></p>
                </div>
                <div class="mb-3 " style="border: 0px;">
                    <label class="form-label" for="tipoProducto">Tipo de producto</label>
                    <select class="form-control" id="tipoProducto" name="tipoProducto" value="{{producto.tipoProducto}}">            
                        <option value="0">Seleccione tipo de producto</option>
                        <option value="1">Fertilizante</option>
                        <option value="2">Maceteros</option>
                        <option value="3">Tierra</option>
                        <option value="4">Gusanos</option>
                        <option value="5">Plantas</option>
                    </select>
                    <p></p>
                </div>
                <div class="mb-3 " style="border: 0px;">
                    <label class="form-label" for="descripcion">Descripción del producto:</label>
                    <input class="form-control" type="text" id="descripcion" placeholder="Ingrese descripción" name="descripcion" value="{{producto.descripcion}}">
                    <p></p>
                </div>
                <div class="mb-3 " style="border: 0px;">
                    <label class="form-label" for="Temperatura">Temperatura ideal promedio:</label>
                    <input class="form-control" type="text" id="Temperatura" placeholder="Ingrese temperatura en Celcius" name="temperatura" value="{{producto.temperatura}}">
                    <p></p>
                </div>
                <div class="mb-3 " style="border: 0px;">
                    <label class="form-label" for="tipoPlanta">Tipo de planta</label>
                    <select class="form-control" id="tipoPlanta" name="tipoPlanta" value="{{producto.tipoPlanta}}">
                        <option value="0">Seleccione tipo de planta</option>
                        <option value="1">Indoor</option>
                        <option value="2">Outdoor</option>
                        <option value="3">Hibrida</option>
                    </select>
                    <p></p>
                </div>
                <div class="mb-3 " style="border: 0px;">
                    <label class="form-label" for="tipoplanta">Precio del producto:</label>
                    <input class="form-control" type="text" id="precio" placeholder="Ingrese precio en pesos" name="precio" value="{{producto.precio}}">
                    <p></p>
                </div>
                <div class="mb-3 " style="border: 0px;">
                    <label class="form-label" for="stock">Stock del producto:</label>
                    <input class="form-control" type="text" id="stock" placeholder="Ingrese stock" name="stock" value="{{producto.stock}}">
                    <p></p>
                </div>
                <div class="mb-3 " style="border: 0px;">
                    <label class="form-label" for="fecha">Fecha de ingreso producto</label>
                    <input class="form-control" type="date" id="fecha" placeholder="Ingrese fecha de ingreso" name="fecha" value="{{producto.fecha}}">
                    <p></p>
                </div>
                <button class="formulariobtn" type="submit">Actualizar producto</button>
            </form>
        </section>
    </main>
    {% include 'footer.html' %}
</body>
        <script src="{% static 'js/registroProducto.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/script.min.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
        <script src="{% static 'js/vanilla-zoom.js' %}"></script>

</html>