<body>
    <br>
    <br>
    <br>
    <br>
    <footer class="page-footer dark">
        <!-- Start: Footer Dark -->
        <footer class="footer-dark">
            <div class="container">
                <div class="row">
                    <!-- Start: Services -->
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Venta Web</a></li>
                            <li><a href="#">Contactos</a></li>
                            <li><a href="#">Comentarios</a></li>
                        </ul>
                    </div><!-- End: Services -->
                    <!-- Start: About -->
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Nosotros</h3>
                        <ul>
                            <li><a href="#">HappyCactus</a></li>
                            <li><a href="#">Integrantes</a></li>
                            <li><a href="#">Trayectoria</a></li>
                        </ul>
                    </div><!-- End: About -->
                    <!-- Start: Footer Text -->
                    <div class="col-md-6 item text">
                        <h3>HappyCactus</h3>
                        <p>Fundacion sin fines de lucro orientada a la venta de articulos de jardin y hogar.</p>
                    </div><!-- End: Footer Text -->
                </div><!-- Start: Copyright -->
                <p class="copyright">HappyCactus © 2022</p><!-- End: Copyright -->
            </div>
    </footer><!-- End: Footer Dark -->
        
</body>