<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mis pedidos</title>
    <link rel="stylesheet" href="css/clima.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="icon" href= "Img/cactus.ico" />
</head>

<body>
    {% include 'navbar.html' %}
    <div>
        <!-- Start: BS5 Jumbotron -->
        <div id="promo" class="mb-6 bg-light round-6" style="background: #ffffff;">
            <div class="container flex-shrink-0 py-5">
                
            </div><!-- Start: 2 Rows 1+1 Columns -->
                <br>
                    <h1 class="text-uppercase fs-1 fw-normal text-center  " style="font-size: 26px;">
                    <strong>MIS PEDIDOS</strong>
                    </h1>
                <br>
            <div class="row rowbuttons">
                        <button
                            class="buttoneffect border col-xl-6 col-md-6 col-6 col-sm-6 col-lg-6" type="button"
                            style="background: #9b673c;color: #ffffff;border-color: rgba(255,255,255,0); ">Todos
                            los pedidos</button>
                            <button class="buttoneffect border col-xl-6 col-md-6 col-6 col-sm-6 col-lg-6" type="button"
                            style="background: #9b673c;color: #ffffff;border-color: rgba(255,255,255,0);">Pendientes</button>
                        </div>
            <div class="row rowbuttons">
                            <button
                            class="buttoneffect border col-xl-6 col-md-6 col-6 col-sm-6 col-lg-6" type="button"
                            style="background: #9b673c;color: #ffffff;border-color: rgba(255,255,255,0);">Enviados</button>
                            <button
                            class="buttoneffect border col-xl-6 col-md-6 col-6 col-sm-6 col-lg-6" type="button"
                            style="background: #9b673c;color: #ffffff;border-color: rgba(255,255,255,0);">Devoluciones</button>
                        </div>
        </div>              
    </div>
                <br>
                <br>
                <br>
                <div class="row estado">
                    <div class=" col-xl-4 col-md-4 col-12 col-sm-12 col-lg-4 "><img src="img/planta1.jpg"
                        class="img-pedido">
                        </div>
                    <div class=" col d-xl-flex justify-content-xl-start col-xl-4 col-md-4 col-12 col-sm-6 col-lg-4">
                        <p style="font-size: 18px; text-align: center; padding-top: 40px;">*Descripción del producto
                            comprado*<span style="font-weight: bold;font-size: 16px;"><br>Codigo producto:
                                9999999999</span><br><span style="font-weight: bold;font-size: 16px;">Codigo de compra:
                                9999999999</span></p>
                    </div>
                    <div class=" col-md-4 col-xl-4 text-center col-xl-4 col-md-4 col-12 col-sm-6 col-lg-4">
                        <h5 style="padding-top: 30px;">Estado del producto :<span
                                style="font-weight: bold;">&nbsp;Enviado</span></h5>
                        <p>Para realizar seguimiento del pedido, puede ingresar en la siguiente pagina e introducir su
                            código de compra:&nbsp;<a href="Mantenimiento.html">Click aqui.</a></p>
                    </div>
                </div><!-- End: 2 Rows 1+1 Columns -->
                <div class="row estado">
                    <div class=" col-xl-4 col-md-4 col-12 col-sm-12 col-lg-4 "><img src="img/planta1.jpg"
                        class="img-pedido">
                        </div>
                    <div class=" col d-xl-flex justify-content-xl-start col-xl-4 col-md-4 col-12 col-sm-6 col-lg-4">
                        <p style="font-size: 18px; text-align: center; padding-top: 40px;">*Descripción del producto
                            comprado*<span style="font-weight: bold;font-size: 16px;"><br>Codigo producto:
                                9999999999</span><br><span style="font-weight: bold;font-size: 16px;">Codigo de compra:
                                9999999999</span></p>
                    </div>
                    <div class=" col-md-4 col-xl-4 text-center col-xl-4 col-md-4 col-12 col-sm-6 col-lg-4">
                        <h5 style="padding-top: 30px;">Estado del producto :<span
                                style="font-weight: bold;">&nbsp;Enviado</span></h5>
                        <p>Para realizar seguimiento del pedido, puede ingresar en la siguiente pagina e introducir su
                            código de compra:&nbsp;<a href="Mantenimiento.html">Click aqui.</a></p>
                    </div>
                </div><!-- End: 2 Rows 1+1 Columns -->
                <div class="row estado">
                    <div class="col-xl-4 col-md-4 col-12 col-sm-12 col-lg-4 "><img src="img/planta1.jpg" class="img-pedido">  
                        </div>
                        
                    <div class="col d-xl-flex justify-content-xl-start col-xl-4 col-md-4 col-12 col-sm-6 col-lg-4">
                        <p style="font-size: 18px; text-align: center; padding-top: 40px;">*Descripción del producto
                            comprado*<span style="font-weight: bold;font-size: 16px;"><br>Codigo producto:
                                9999999999</span><br><span style="font-weight: bold;font-size: 16px;">Codigo de compra:
                                9999999999</span></p>
                    </div>
                    <div class="col-md-4 col-xl-4 text-center col-xl-4 col-md-4 col-12 col-sm-6 col-lg-4">
                        <h5 style="padding-top: 30px;">Estado del producto :<span
                                style="font-weight: bold;">&nbsp;Enviado</span></h5>
                        <p>Para realizar seguimiento del pedido, puede ingresar en la siguiente pagina e introducir su
                            código de compra:&nbsp;<a href="Mantenimiento.html">Click aqui.</a></p>
                    </div>
                </div><!-- End: 2 Rows 1+1 Columns -->
            </div><!-- End: BS5 Jumbotron -->
            {% include 'footer.html' %}
</body>
            <script src="bootstrap/js/bootstrap.min.js"></script>
            <script src="js/script.min.js"></script>
            <script src="js/theme.js"></script>
            <script src="js/vanilla-zoom.js"></script>
</html>